@using DeliveryShop.Database.Models
@{
	Products product = Model;
}
<link href="~/css/product.css" rel="stylesheet" />
<div class="main">
	<div class="main-container">
		<h2>@product.Name</h2>
		<div class="panel">
			<div class="picture">
				<img src="@product.Image" />
			</div>
			<div class="info-product">
				<div class="item-info">
					<span>Название </span>
					<span>@product.Name</span>
				</div>
				<div class="item-info">
					<span>Описание </span>
					<span>@product.Specifications</span>
				</div>
				<div class="item-info">
					<span>Категория </span>
					<span>@product.Category.Name</span>
				</div>
				<form class="price-buttons" asp-controller="Product">
					<div class="product-price">
						<span class="price">@product.Price ₽</span>
					</div>
					<input value="@product.Id" name="id" style="display: none"/>
					@{
						if (product.IsLike)
						{
							<button class="icon-button" type="submit" formmethod="post" asp-action="RemoveToFavorite">
								<i class="fa fa-heart fa-2x icon-favorite" style="color: red" aria-hidden="true"></i>
							</button>
						}
						else
						{
							<button class="icon-button" type="submit" formmethod="post" asp-action="AddToFavorite">
								<i class="fa fa-heart fa-2x icon-favorite" aria-hidden="true"></i>
							</button>
						}
					}
					<button class="btn-basket btn btn-outline-dark btn-lg" formmethod="get" asp-action="AddToCart">В корзину</button>
				</form>
			</div>
		</div>
	</div>
</div>