@using DeliveryShop.Database.Models
@{
    ViewData["Title"] = "Home Page";
    List<Products> list = Model;
    List<Categories> categoriesList = ViewBag.Categorits;
}
<link href="css/index.css" rel="stylesheet" />
<div class="main">
	<div class="main-container">
		<h1>Каталог</h1>
		<div style="display: flex; flex-direction: row; margin-bottom: 10px; align-content: center;gap: 10px">
			<label for="options">Категория:</label>
			<select id="options" class="combo-box" onchange="onSelect()" style="border-radius: 3px">
				@{
					foreach (var item in categoriesList)
					{
						<option value=@item.Name>@item.Name</option>
					}
				}
			</select>
			<button class="btn" id="BtnCancelFilter" onclick="clearFilter()" style="display: none">
				<i class="fa fa-window-close" aria-hidden="true"></i>
			</button>
		</div>
		
		<ul class="products clearfix">
			@{
			foreach (var item in list)
			{
			<form method="post">
				<li class="product-wrapper">
					<a href="/Product/Index?id=@item.Id" class="product">
						<span style="display: none">@item.Category.Name</span>
						<div class="product-photo">
							<div class="container-favorite">
								@{
									if (item.IsLike)
									{
										<button class="icon-button" type="submit" asp-action="RemoveToFavorite">
											<i class="fa fa-heart fa-2x icon-favorite" style="color: red" aria-hidden="true"></i>
										</button>
									}
									else
									{
										<button class="icon-button" type="submit" asp-action="AddToFavorite">
											<i class="fa fa-heart fa-2x icon-favorite" aria-hidden="true"></i>
										</button>
									}
								}
							</div>
							<img alt="" src="@item.Image" style="height: 100%"/>
						</div>
						<div class="product-info">
							<span>@item.Name</span>
						</div>

						<input id="id" name="id" type="number" value="@item.Id"/>
						<div class="bottom-absolute">
							<div class="product-price">
								<span class="price">@item.Price ₽</span>
							</div>
							<button class="btn-basket btn btn-outline-dark btn-lg" type="submit" asp-action="AddToCart">В корзину </button>
						</div>
					</a>
				</li>
			</form>
			}
			}
		</ul>
	</div>
	
</div>